bidict==0.23.1
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
cryptography==41.0.1
h11==0.14.0
idna==3.4
Naked==0.1.32
neuropacs==1.7.1
pycparser==2.21
pycryptodome==3.18.0
python-engineio==4.9.0
python-socketio==5.10.0
PyYAML==6.0
requests==2.31.0
shellescape==3.8.1
simple-websocket==1.0.0
tqdm==4.66.1
urllib3==1.26.6
wsproto==1.2.0
